<h1>Livros</h1>
<div class='books-container'>
  {{#each books}}
    <div class='book'>
      <span>ID - #{{id}}</span>
      <h2>{{title}}</h2>
      <p>{{pageqty}} páginas</p>
    </div>
  {{/each}}
</div>