<article>
  <h1>{{product.name}}</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloribus
    accusantium enim amet, esse repudiandae nulla reprehenderit debitis! Harum,
    suscipit provident. Esse voluptates vel reprehenderit minus laudantium
    reiciendis quos adipisci.</p>
  <button>
    BUY ${{product.price}}
  </button>
</article>