* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
}

header nav ul li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 32rem;
  margin: 0 auto;
}

form input[type='submit'] {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-control input:focus {
  outline: none;
  border-color: #333;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  gap: 0.5rem;
}

.container .item {
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 32%;
}

.container .item h2,
.container .item p {
  text-align: center;
  margin-bottom: 0.8rem;
}

.container .item h2 {
  font-size: 1.75rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.actions a,
.actions input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.actions form {
  width: 100%;
}

.actions a:hover,
.actions input:hover {
  background-color: #555;
}

.address-container h2 {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.address-container > div {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-bottom: 0.0625rem solid #ccc;
}

.address-container > .address-list {
  text-align: center;
}

.address-container > .address-list form {
  margin-top: 0.5rem;
}

.address-container > div > input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 1rem;
  background-color: #ccc;
  padding: 1rem;
}

footer h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.75rem;
  width: 80%;
  margin: 0 auto;
}
