<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>Sequelize</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/users/create'>Cadastrar</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <h1>Footer</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptates, quidem, quod, quos dolorum voluptatum quae quibusdam
        voluptatem quia nemo quas. Quisquam voluptates, quidem, quod, quos
        dolorum voluptatum quae quibusdam voluptatem quia nemo quas.
      </p>
    </footer>
  </body>
</html>