<div id='book-page'>
  <div class='container'>
    <h1>
      {{book.title}}
    </h1>
    <p>Este livro tem {{book.pageqty}} páginas.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ipsa
      distinctio at nesciunt iure unde mollitia.
    </p>
  </div>
</div>