<div id='book-page'>
  <div class='container'>
    <h1>
      {{book.title}}
    </h1>
    <p>Este livro tem {{book.pageqty}} páginas.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ipsa
      distinctio at nesciunt iure unde mollitia.
    </p>
    <div class='edit'>
      <form action='/books/deletebook/{{book.id}}' method='POST'>
        <input type='submit' value='Deletar' />
      </form>
      <a href='/books/edit/{{book.id}}'>Editar</a>
    </div>
  </div>
</div>